body {
  --header-height: 60px;
  --header-group-height: var(--header-height);
  --transparent-header-offset-boolean: 0;
}

.header {
  --header-padding: var(--padding-sm);
  --font-paragraph--line-height: 1;
  --header-content-transition-timing: 0s;

  display: block;
  contain: layout style;
  background: transparent;
}

.header a,
.header .button,
.header .button-secondary,
.header .header-actions__action {
  transition:
    color var(--header-content-transition-timing),
    border-color var(--header-content-transition-timing);
}

#header-component :is(.header-menu, .dropdown-localization) {
  display: none;
}

@media screen and (min-width: 750px) {
  #header-component[data-menu-style='menu']
    :is(.header-menu, .dropdown-localization) {
    display: flex;
  }
}

#header-component[data-menu-style='drawer'] .header__column {
  display: contents;
}

@media screen and (min-width: 750px) {
  #header-component[data-menu-style='menu']
    .header__navigation-bar-row {
    display: none;
  }
}

.header[transparent] {
  --language-button-background-color: transparent;
  --language-button-border-color: transparent;

  --header-content-transition-timing:
    calc(
      var(--submenu-animation-speed) - var(--animation-speed-fast)
    )
    var(--animation-speed-fast)
    var(--ease-out-cubic);

  --closed-underlay-height: 0px;

  --header-logo-display: none;
  --header-logo-inverse-display: block;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: var(--layer-overlay);
}

.header[transparent='not-sticky'][data-sticky-state='active'],
.header[transparent]:has(
    .menu-list__list-item
      > .menu-list__link:not([aria-haspopup]):hover
  ) {
  --header-logo-display: unset;
  --header-logo-inverse-display: unset;

  --color-foreground: inherit;
  --color-foreground-rgb: inherit;
  --color-background: inherit;
  --color-background-rgb: inherit;
  --color-border: inherit;
  --color-border-rgb: inherit;

  --closed-underlay-height: 100%;
}

.header[transparent]:not([data-sticky-state='active']):not(
    :has(.menu-list__link:hover)
  ):not(:has(header-menu[aria-expanded='true']))
  .header__row {
  --color-foreground: var(--color-transparent-text);
  --color-foreground-rgb: var(--color-transparent-text-rgb);
  --color-border: var(--color-transparent-text);
  --color-border-rgb: var(--color-transparent-text-rgb);
  --color-primary-button-background: var(--color-transparent-text);
  --color-primary-button-text: var(--color-transparent-text-contrast);
}

.header[transparent][data-bubble-style='default']:not(
    [data-sticky-state='active']
  ):not(:has(.menu-list__link:hover)):not(
    :has(header-menu[aria-expanded='true'])
  )
  .header__row {
  --cart-bubble-background: var(
    --color-transparent-text,
    var(--cart-bubble-background-fallback)
  );

  --cart-bubble-text: var(
    --color-transparent-text-contrast,
    var(--cart-bubble-text-fallback)
  );
}

.header[transparent]:has(.mega-menu__list:hover),
.header[transparent]:has(.menu-list__link:hover),
.header[transparent]:has(header-menu[aria-expanded='true']) {
  --header-logo-display: unset;
  --header-logo-inverse-display: unset;

  --color-foreground: inherit;
  --color-foreground-rgb: inherit;
  --color-background: inherit;
  --color-background-rgb: inherit;
  --color-border: inherit;
  --color-border-rgb: inherit;

  --header-content-transition-timing:
    var(--submenu-animation-speed)
    var(--ease-out-cubic);
}

[data-transparent-background='top']:hover .header__row--top,
[data-transparent-background='top']:focus-within .header__row--top,
[data-transparent-background='both']:hover .header__row--top,
[data-transparent-background='both']:focus-within .header__row--top {
  --color-foreground: inherit;
  --color-foreground-rgb: inherit;
  --color-border: inherit;
  --color-border-rgb: inherit;
  --color-primary-button-background: inherit;
  --color-primary-button-text: inherit;
}

[data-transparent-background='bottom']:hover .header__row--bottom,
[data-transparent-background='bottom']:focus-within .header__row--bottom,
[data-transparent-background='both']:hover .header__row--bottom,
[data-transparent-background='both']:focus-within .header__row--bottom {
  --color-foreground: inherit;
  --color-foreground-rgb: inherit;
  --color-border: inherit;
  --color-border-rgb: inherit;
  --color-primary-button-background: inherit;
  --color-primary-button-text: inherit;
}

.header-section {
  position: relative;
  z-index: var(--layer-menu-drawer);
}

#header-component {
  --submenu-height: 0px;
  --full-open-header-height: 0px;
}

#header-group:has(#header-component[sticky]) {
  display: contents;
}

.header-section:has(> #header-component[sticky='always']),
.header-section:has(
    > #header-component[sticky='scroll-up'][data-sticky-state='active']
  ) {
  position: sticky;
  top: -1px;
  z-index: var(--layer-menu-drawer);
}

.header[data-sticky-state] {
  transition: opacity var(--animation-speed) var(--animation-easing);
  opacity: 1;
}

.header[data-sticky-state='active'] {
  view-transition-name: sticky-header;
}

:active-view-transition-type(empty-cart-drawer)
  .header[data-sticky-state='active'] {
  view-transition-name: none;
}

.header[data-sticky-state='idle'] {
  opacity: 0;
}

.header__underlay {
  position: absolute;
  inset: 0;
}

.header__underlay-closed {
  height: var(--closed-underlay-height, 100%);
  z-index: var(--layer-lowest);

  background: linear-gradient(
    var(--color-background-top-row) 0 var(--top-row-height),
    var(--color-background-bottom-row) var(--top-row-height)
      var(--header-height)
  );

  transition:
    height var(--animation-speed-slow)
    var(--ease-out-cubic);
}

.header__underlay-open {
  height: var(--full-open-header-height);

  background: linear-gradient(
    var(--color-background-top-row) 0 var(--top-row-height),
    var(--color-background-bottom-row) var(--top-row-height)
      var(--header-height),
    var(--color-submenu) var(--header-height) 100%
  );

  transition:
    height var(--submenu-animation-speed)
    var(--ease-out-cubic);
}

.header__underlay-open::after {
  content: '';
  position: absolute;
  inset: 0;

  box-shadow: var(--shadow-popover);

  clip-path: inset(
    var(--header-height) 0 -100px 0
  );

  transition:
    height var(--submenu-animation-speed)
    var(--ease-out-cubic);
}

[data-transparent-background='top']:hover
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ),
[data-transparent-background='top']:focus-within
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ),
[data-transparent-background='both']:hover
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ),
[data-transparent-background='both']:focus-within
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ) {
  --color-background-top-row: var(--color-background);
}

[data-transparent-background='bottom']:hover
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ),
[data-transparent-background='bottom']:focus-within
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ),
[data-transparent-background='both']:hover
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ),
[data-transparent-background='both']:focus-within
    :is(
      .header__underlay-open,
      .header__underlay-closed
    ) {
  --color-background-bottom-row: var(--color-background);
}

[data-submenu-overlap-bottom-row]
  .header__underlay-open {
  background: linear-gradient(
    var(--color-background-top-row) 0 var(--top-row-height),
    var(--color-submenu) var(--top-row-height) 100%
  );
}

[data-submenu-overlap-bottom-row]
  .header__row--bottom {
  z-index: var(--layer-lowest);
}

.header__row {
  --color-account-icon: var(--color-foreground);

  position: relative;

  background-color: transparent !important;
}

.header__row:has(.mega-menu__list:hover),
.header__row:has(.menu-list__submenu:not([inert])) {
  z-index: var(--layer-heightened);
}

.header__row--top:not(.divider--page-width),
.header__row--top.divider--page-width .header__columns,
.header__row--bottom {
  border-bottom:
    var(--border-bottom-width)
    solid
    var(--border-bottom-color, var(--color-border));
}

@media screen and (max-width: 749px) {
  .header__row--top:not(.divider--page-width),
  .header__row--top.divider--page-width
    .header__columns {
    border-bottom-width: var(--border-bottom-width-mobile);
    border-bottom-color: var(--border-bottom-color-mobile);
  }
}

#header-component[data-menu-style='drawer']
  .header__row--top:not(.divider--page-width),
#header-component[data-menu-style='drawer']
  .header__row--top.divider--page-width
  .header__columns {
  border-bottom-width: var(--border-bottom-width-mobile);
  border-bottom-color: var(--border-bottom-color-mobile);
}

@media screen and (min-width: 750px) {
  .header__row.divider--page-width:not(.section--page-width)
    .header__columns {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-inline-start: var(--page-margin);
    margin-inline-end: var(--page-margin);
  }
}

.header__column {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 749px) {
  .header__column {
    display: contents;
  }
}

.header__column--left,
.header__column--center {
  gap: var(--gap-xl);
  grid-area: left;
}

.header__column--center {
  justify-content: center;
  grid-area: center;
}

.header__column--center
  header-menu:only-child
  .overflow-menu::part(list) {
  justify-content: center;
}

.header__column--right {
  gap: var(--gap-xl);
  justify-content: flex-end;
  grid-area: right;
}

.header__column--right
  .overflow-menu::part(list) {
  justify-content: flex-end;
}

.header__columns {
  --header-left: 1fr;
  --header-center: auto;
  --header-right: 1fr;

  --header-template-columns:
    var(--header-left)
    var(--header-center)
    var(--header-right);

  --header-mobile-bookend: 44px;

  display: grid;
  grid-template-areas: 'left center right';
  grid-gap: var(--gap-xl);
  grid-template-columns: var(--header-template-columns);
}

.header__columns:has(
    .header__column--center header-menu
  ) {
  --header-center: auto;
  --header-left: minmax(max-content, 1fr);
  --header-right: minmax(max-content, 1fr);
}

@media screen and (min-width: 750px) {
  .header__columns:where(
      :not(:has(.header__column))
    ) {
    --header-template-columns:
      var(--header-left)
      var(--header-right);

    grid-template-areas: 'left right';
  }

  .header__columns:where(
      :not(:has(.header__column))
    ):has(.header__column--right header-menu) {
    --header-right: auto;
    --header-left: minmax(max-content, 1fr);
  }

  .header__columns:where(
      :not(:has(.header__column))
    ):has(.header__column--left header-menu) {
    --header-left: auto;
    --header-right: minmax(max-content, 1fr);
  }
}

@media screen and (max-width: 749px) {
  .header__columns {
    --header-template-columns:
      var(--header-mobile-bookend)
      var(--header-mobile-bookend)
      1fr
      var(--header-mobile-bookend)
      var(--header-mobile-bookend);

    grid-template-areas:
      'leftA leftB center rightA rightB';

    grid-column: span 3;
    column-gap: 0;
    align-items: center;

    padding-block: 0;
    padding-inline: 0 var(--padding-3xs);
  }

  .header__columns .header-logo {
    grid-area: center;
  }

  .header__columns:not(:has(header-actions))
    .search-action {
    grid-area: leftB;
  }

  .header__columns:not(:has(shopify-account))
    .search-action {
    grid-area: rightA;
  }

  .header__columns .search-action {
    grid-area: leftB;
  }

  .header__columns header-actions {
    grid-area: rightB;
  }
}

#header-component[data-menu-style='drawer']
  .header__columns {
  --header-template-columns:
    var(--header-mobile-bookend)
    var(--header-mobile-bookend)
    1fr
    var(--header-mobile-bookend)
    var(--header-mobile-bookend);

  grid-template-areas:
    'leftA leftB center rightA rightB';

  grid-column: span 3;
  column-gap: 0;
  align-items: center;

  padding-block: 0;
  padding-inline: 0 var(--padding-3xs);
}

#header-component[data-menu-style='drawer']
  .header__columns
  .header-logo {
  grid-area: center;
}

#header-component[data-menu-style='drawer']
  .header__columns:not(:has(header-actions))
  .search-action {
  grid-area: leftB;
}

#header-component[data-menu-style='drawer']
  .header__columns:not(:has(shopify-account))
  .search-action {
  grid-area: rightA;
}

#header-component[data-menu-style='drawer']
  .header__columns
  .search-action {
  grid-area: leftB;
}

#header-component[data-menu-style='drawer']
  .header__columns
  header-actions {
  grid-area: rightB;
}

.header__columns:not(:has(.header__column)) {
  grid-template-columns: 1fr;
}

@media (hover: hover) {
  .header__column:has(header-menu:hover)
    header-menu:not(:hover),
  .header__column:has(header-menu:hover)
    .header-actions__action:not(:hover),
  .header__column:has(header-menu:hover)
    .header__icon--menu:not(:hover),
  .header__column:has(.header-actions__action:hover)
    header-menu:not(:hover),
  .header__column:has(.header-actions__action:hover)
    .header-actions__action:not(:hover),
  .header__column:has(.header-actions__action:hover)
    .header__icon--menu:not(:hover),
  .header__column:has(.header__icon--menu:hover)
    header-menu:not(:hover),
  .header__column:has(.header__icon--menu:hover)
    .header-actions__action:not(:hover),
  .header__column:has(.header__icon--menu:hover)
    .header__icon--menu:not(:hover) {
    opacity: var(--opacity-subdued-text);

    transition:
      opacity var(--animation-speed)
      var(--animation-easing);
  }
}

header-menu,
.header-actions__action,
.header__icon--menu {
  transition:
    opacity var(--animation-speed)
    var(--animation-easing);
}

.header-actions__action {
  --button-color: var(--color-foreground);

  color: var(--button-color);
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.header-actions__action:hover {
  --button-color: var(--color-foreground);
}

.header-actions__action:not(.account-button)
  .svg-wrapper {
  height: var(--button-size);
  width: var(--button-size);
}

.header-actions__action:not(.account-button) svg {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.header:has(#Details-menu-drawer-container[open]) {
  contain: style;
}

.header.header--compact {
  --header-padding: var(--padding-2xs);
}

.header__columns {
  /* --padding-block-start: var(--header-padding);
  --padding-block-end: var(--header-padding); */
}

.header:not(.header--compact)
  .header__row--bottom {
  --header-padding: var(--padding-xs);
}

.header--collapse-row-paddings
  .header__row--top
  .header__columns {
  --padding-block-end: 0px;
}

.header--collapse-row-paddings
  .header__row--bottom
  .header__columns {
  --padding-block-start: 0px;
}

body:has(#header-component[transparent])
  .content-for-layout
  > .shopify-section:first-child {
  margin-top: calc(
    var(--header-group-height) * -1
  );
}

body:has(#header-component[transparent])
  #header-group
  > .header-section {
  z-index: var(--layer-menu-drawer);
}

body:has(#header-component[transparent])
  #header-group
  > *:not(.header-section) {
  z-index: calc(
    var(--layer-menu-drawer) - 1
  );
}

.header-section:has(.header[transparent])
  + .shopify-section {
  margin-top: var(--header-height);
}

.header-menu .menu-list__submenu {
  content-visibility: auto;
  contain-intrinsic-size: 0px 500px;
}

.header-menu details[open]
  .menu-list__submenu,
.header-menu .menu-list__submenu[data-active],
.header-menu
  .menu-list__list-item[slot='overflow']
  .menu-list__submenu {
  content-visibility: visible;
}

.dropdown-localization__button {
  display: flex;
  position: relative;
  align-items: center;

  gap: 4px;

  font-family: var(--menu-localization-font);
  font-size: var(--menu-localization-font-size);
  font-weight: var(--menu-top-level-font-weight);

  padding-inline: var(--padding-2xs);
  margin-inline: calc(
    -1 * var(--padding-2xs)
  );
}

.dropdown-localization__button
  .svg-wrapper.icon-caret {
  height: var(--icon-size-xs);
  width: var(--icon-size-xs);

  right: var(--margin-xs);
  top: calc(50% - var(--padding-2xs));

  flex-shrink: 0;

  transition:
    transform var(--animation-speed)
    var(--animation-easing);
}

.dropdown-localization__button
  .icon-flag {
  width: var(
    --menu-localization-font-size,
    var(--icon-size-sm)
  );

  height: var(
    --menu-localization-font-size,
    var(--icon-size-sm)
  );

  clip-path: circle(50%);

  background-position: center;
  background-size: cover;

  margin-inline-end: 4px;

  position: relative;
}

.dropdown-localization__button
  .icon-flag::after {
  content: '';

  position: absolute;
  inset: 0;

  box-shadow:
    inset 0 0 var(--size-shadow)
    var(--color-shadow);

  border-radius: 50%;
}

.dropdown-localization__button[aria-expanded='true']
  .icon-caret
  svg {
  transform: rotate(180deg);
}

.dropdown-localization__button,
.dropdown-localization__button:hover {
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
}

dropdown-localization-component
  .localization-form__list {
  max-height: 20.5rem;
}

.localization-wrapper {
  position: fixed;

  z-index: var(--layer-raised);

  border-radius:
    var(--style-border-radius-popover);

  transition-property:
    display,
    opacity,
    translate;

  transition-duration: 0.3s;

  transition-timing-function:
    var(--ease-out-quad);

  transition-behavior: allow-discrete;

  translate: 0 20px;
  opacity: 0;
}

.localization-wrapper:not([hidden]) {
  translate: 0 0;
  opacity: 1;
}

@starting-style {
  .localization-wrapper:not([hidden]) {
    translate: 0 20px;
    opacity: 0;
  }
}

dropdown-localization-component {
  position: relative;
  background-color: transparent;
}

dropdown-localization-component
  .country-filter {
  position: relative;
  padding: 8px;
}

dropdown-localization-component
  .country-filter__input {
  border: none;
}

dropdown-localization-component
  .localization-form__list-item {
  margin-inline: 8px;
}

dropdown-localization-component
  .localization-wrapper {
  box-shadow: var(--shadow-popover);

  border: var(--style-border-popover);

  background-color: var(--color-background);

  max-height: 27.5rem;

  position: absolute;

  top: calc(100% + 10px);

  z-index: calc(
    var(--layer-header-menu) + 1
  );
}

dropdown-localization-component
  .localization-wrapper.right-bound {
  right: 0;
  left: unset;
}

dropdown-localization-component
  .localization-wrapper.left-bound {
  left: -8px;
  right: unset;
}

dropdown-localization-component
  .language-selector.language-selector {
  padding: 10px 8px 10px 16px;
}

dropdown-localization-component
  .localization-form__currency {
  width: max-content;

  opacity: 0;
  visibility: hidden;

  transition: none;
}

dropdown-localization-component
  .localization-form__select:hover {
  background-color:
    rgb(
      var(--color-foreground-rgb)
      /
      var(--opacity-8)
    );
}

dropdown-localization-component
  :is(
    .localization-form__list-item:hover,
    .localization-form__list-item[aria-selected='true'],
    .localization-form__list-item[aria-current='true']
  )
  .localization-form__currency {
  opacity: 1;

  color: var(--color-foreground-muted);

  transition:
    opacity var(--animation-speed-slow)
    var(--animation-easing);

  visibility: visible;
}

.dropdown-localization
  .language-selector:where(
    :not(.language-selector--top-shadow)
  ) {
  font-weight: var(--menu-top-level-font-weight);
}

.dropdown-localization:not(
    dropdown-localization-component
  )
  .language-selector {
  font-family: var(--menu-localization-font);
  font-size: var(--menu-localization-font-size);
}